<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="background-color: rgb(242, 244, 246);">
    <table style="width: 580px; margin-top: 50px;margin: auto;">
        <thead>
            <tr style="background-color:#eeeeee;">
                <td style="padding: 40px; text-align: center;">gestor7.com</td>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color:#fff;">
                <td style="padding: 20px; text-align: center;">
                    Olá {{nome}}, seja bem vindo ao Gestor7.
                </td>
            </tr>
        </tbody>

        <thead>
            <tr>
                <td style="padding: 20px; text-align: center;">gestor7.com</td>
            </tr>
        </thead>
    </table>
</body>
</html>